<head>
    <title>FinaVistory: Narrative Visualization of Financial News</title>
    <!-- <link rel="icon" sizes="16x16" href="/favicon.ico"> -->
</head>


<template name="layout">
        {{>header}}

    <div class="container" style="overflow-x:scroll; width:100%">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-md-12">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>

          <!-- main view starts here -->
<!--           <div class="row">
              <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active" id="tab1"><a href="#mainContainer" aria-controls="mainContainer" role="tab" data-toggle="tab">Trajectory Panel</a></li>  
                  <li role="presentation" id="tab2"><a href="#popContainer" aria-controls="popContainer" role="tab" data-toggle="tab">Hotness Panel</a></li>  
              </ul>
          </div>
          <div class="tab-content">
 -->              {{> yield region = "view"}}
              <!-- {{>popview}} -->
          <!-- </div> -->

        </div><!--/.col-xs-12.col-sm-9-->
      </div><!--/row-->

      <hr>
	{{>footer}}
    </div>
</template>


<template name="loading">
    <center>
      <h1>Data is loading...</h1>
    </center>
</template>

