body{
  fill:#EBEBEB;
}

#mainContainer {
  margin: 10px;
}

#canvasContainer {
  height: 1000px;
}

#toolboxContainer {
  height: 100%;
  border-right: 2px double #CCC;
}


#mapViewBody {
  padding: 5px;
}


.axis text {
  font: 10px sans-serif;
}




#mdsPannelHeading{
  padding-top: 3px;
  padding-bottom: 3px;
}

.popover{
  max-width: 100%; 
}

line {
  stroke-width: 2px;
}
.line-type1 {
  stroke: #000;
}
.line-type2 {
  stroke: #888;
  stroke-dasharray: 0,2 2;
}
.circle-type1 {
  fill: #000;
}
.circle-type2 {
  fill: #888;
}
#type1 {
  fill: #000;
}
#type2 {
  fill: #888;
}

.link-line {
  fill: none;
  stroke: #41b6c4;
  stroke-width: 1.5px;
}

.node circle {
  fill:#2ca25f;
  stroke: #fff;
  stroke-width: 1.5px;
}

.node-main circle {
  fill: #2c7fb8;
  stroke: #fff;
  stroke-width: 1.5px;
}

.node-selected circle {
  fill: #d7191c;
  stroke: #fff;
  stroke-width: 1.5px;
}
text {
  font: 10px sans-serif;
  pointer-events: none;
}

h1 {
  font-size: 5.9vw;
}



.popover-content{
  white-space:pre-wrap;
}

.d3-tip {
  line-height: 1;
  
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
path {
  stroke: #00FFFF;
  stroke-width: 3;
  fill: none;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.datapoint:hover{
  fill: #80C0F5;
}
.xlabel, .ylabel {
  font-weight:bold;
  font-size:5px;
}
.bar {
  fill: #ADFF09;
}
 
.bar-failed {
  fill: #FF0000;
}
 
.bar-running {
  fill: #59D2FF;
}
 
.bar-succeeded {
  fill: #ADFF09;
}
 
.bar-killed {
  fill: #ffbb33;
}
.chart {
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.grid .tick {
    stroke: white;
    opacity: 0.7;
}

  .tick line{
    fill:white;
    opacity: 0.2;
    stroke: white;
    opacity: 0.7;
  }

#scatterPlotVis .domain { 
  fill: none; 
  stroke: black; 
  stroke-width: 1; 
} 

td.name{
  color:black;
}

td.value{
  color:black;
}

text.c3-chart-arcs-title{
  fill:lightgrey;
  font-size: 9px;
}

.x.axis{
  fill:lightgrey;
}
.y.axis{
  fill:lightgrey;
}

input#textIndicator{
  background-color: #4E5D6C;
  color: white;
}

select {
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    border: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: #2B3E50;
    cursor: default;
}
select.year{
  color:white;
}
g.c3-legend-background{
  opacity:0.2;
}