<template name="part2view">
	<div id="mainContainer">
		<h1 align='center' > EU Unemployment Overview</h1>
		<h1 align='center' id='statement'></h1>
		<div class="col-md-12" id="canvasContainer">
			<div class="row">
				<div class="col-md-4" id='newsContainer'>
					<div class="row">	
						<h3 align='center'>Unemployment News Volume Distribution</h3>
						<div id='unemploymentSentiment' align="center" ></div>

					</div> 

					<h3 align='center'>
						<div class="col-md-12" style='margin-bottom: 5%'>
							Most relevant
							{{#each newsMonth}}
							<span style="color: {{color}};">{{bool}}</span>
							<span> News in</span>
							<span style="color: {{monthColor}};">{{month}}</span>
							{{/each}}
						</div>
					</h3>
					<div id='wordContainer' class="col-md-12" style='margin-bottom:'>
						<button id='sentimentPositive' type="button" class="btn btn-success" style='width: 49.5%;'>Positive</button>
						<button id='sentimentNegative' type="button" class="btn btn-danger" style='width: 49.5%;'>Negative</button>
						<canvas id="canvasWC" class="canvas" ></canvas>
						<div class="table" id='newsTable'>
						<h4 align="center">Top 5 Most Relevant News Titles</h4>
						<div id='newsTableBody'>
							{{#each news}}
							<div class="col-md-12">
								<div class='row' >
									<h4><small><strong style='color:{{outcome}};'>{{title}}</strong></small></h4>
								</div>
								<div class="row">
									<input type="button" class="btn btn-primary btn-xs" data-container="body" data-toggle="popover" style='width: 100%;' id='{{id}}' value='{{button}}' />
								</div>
							</div>
							
							{{/each}}
						</div>
					</div> 
					</div>  
				</div>
				<div class='col-md-4'>

					<div style="margin: 0 auto;">
						<h3  align="center">European Union Unemployment Rate</h3>
						<div class="row">
							<div  id='priceChartContainer'  align="center">
								<div id='unemployment'></div>
								<div id='unemploymentGantt' ></div>
							</div>
						</div>
						<div class='row'>
							<h5 align='left'>&nbsp;&nbsp;&nbsp;&nbsp; The above color pixels represent the poplarity of news on unemployments when people talk about topics in the indicators in each month.</h5>
						</div>
						<div class='col-md-12'>
							<div id='scatterPlotContainer'>
							<svg id="scatterPlotVis"></svg>
							</div>
							<div class="form-group">
								<label>Input indicator to see the quantitative relationship with unemployment:</label>
								<input type="text" class="form-control" id="textIndicator">
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-4">
				<div class="col-md-12">
					<h3 align="center" >Impact of Unemployment</h3>
					<h3 align="center" ><small>See the relationship between unemployment and other key stakeholder</small></h3>
				</div>
				<div class='col-md-12'>
							<div id='donutChart1' class='col-md-6'>
							</div>	
							<div id='donutChart2' class='col-md-6'>
							</div>
							<div class='col-md-12'>
								<div id='ldaOptionsContainer'>
									{{#each lda}}
									
									Indicator {{index}}: 
									<select id="lda{{index}}" multiple="multiple">
									</select>
									
									{{/each}}
								</div>
							</div>
						</div>
					<div class="panel">
						<div class="col-md-12">
							<div  id='forceGraphContainer' align='right'>
								<div class="panel" style='background-color: #2B3E50'>
									<svg id="graphvis"></svg>
								</div>
							</div>
						<div id='slider'></div>
						</div>
						
					</div>
				</div>
			</div>
			
			

			
		</div>
	</div>
</template>
